body {
    overflow: scroll;
}

.sentence {
    font-size: 20px;
}

#userInput {
    font-size: 20px;
    height: 100px;
    border: 3px solid black;
    margin-bottom: 15px;
}

.disabledBox {
    background: lightgray;
}

.icons {
    vertical-align: middle;
}

.right {
    border: 3px solid green !important;
}

.wrong {
    border: 3px solid red !important;
}

.scoreBoard {
    display: none;
}

.error {
    color: red;
    display: none;
}

#spinner {
    display: none;
}

#sentenceId {
    /* background: #00bcd4; */
    width: 50px;
    text-align: center;
}